<%= form_for(@tween) do |f| %>
  <% if @tween.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tween.errors.count, "error") %> prohibited this tween from being saved:</h2>

      <ul>
      <% @tween.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.order(:name), :id, :name %>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
